In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from scipy.stats import sem

### Read NFL-QB csv data ###

In [7]:
nfl_file = "Data/NFLQBDATA.csv"
nfl_data_df = pd.read_csv(nfl_file)
nfl_data_df.head()

,Rk,Player,From,To,No. of Season,Tm,Lg,G,GS,Cmp,...,Yds.1,Y/A,AY/A,ANY/A,Y/G,W,L,T,4QC,GWD
0,1,Peyton Manning,1998,2015,17,TOT,NFL,266.0,265.0,6125,...,1953,7.67,7.61,7.17,270.5,186.0,79.0,0.0,43.0,54.0
1,2,Tom Brady,2000,2019,19,NWE,NFL,273.0,271.0,6094,...,2960,7.52,7.81,7.14,262.2,211.0,60.0,0.0,35.0,44.0
2,3,Drew Brees,2001,2019,18,TOT,NFL,266.0,265.0,6621,...,2821,7.61,7.60,7.03,281.4,156.0,109.0,0.0,35.0,49.0
3,4,Brett Favre*,1991,2010,19,TOT,NFL,302.0,298.0,6300,...,3487,7.06,6.58,5.93,237.9,186.0,112.0,0.0,28.0,43.0
4,5,Philip Rivers,2004,2019,15,SDG,NFL,216.0,212.0,4619,...,2552,7.82,7.76,6.99,258.8,120.0,92.0,0.0,26.0,31.0

In [6]:
nfl_data_df.columns

Index(['Rk', 'Player', 'From', 'To', 'No. of Season', 'Tm', 'Lg', 'G', 'GS',
       'Cmp', 'Att', 'Cmp%', 'Yds', 'TD', 'Int', 'Pick6', 'TD%', 'Int%',
       'Rate', 'Sk', 'Yds.1', 'Y/A', 'AY/A', 'ANY/A', 'Y/G', 'W', 'L', 'T',
       '4QC', 'GWD'],
      dtype='object')

In [13]:
trial_data = nfl_data_df[['Rk', 'Player', 'No. of Season']]

# Convert to DataFrame

mean_data =trial_data.groupby(['Rk', 'Player'], as_index = False)['No. of Season'].mean()
players_season_mean_data = pd.DataFrame(mean_data)

# Preview DataFrame

players_season_mean_data.head()

   Rk          Player  No. of Season
0   1  Peyton Manning             17
1   2       Tom Brady             19
2   3      Drew Brees             18
3   4    Brett Favre*             19
4   5   Philip Rivers             15

In [18]:
trial_data['No. of Season'].std()

4.549716617786351